/* Text Styles  */
.20-28-heading-3 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.20-28-heading-2 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

