 /* Aliases  */
$corners-corner-xs: $grid-values-s4;
$corners-corner-s: $grid-values-s8;
$corners-corner-l: $grid-values-s16;
$corners-corner-xl: $grid-values-s24;
$corners-corner-xxs: $grid-values-s0;

