 /* Variables  */
$datepicker-datepicker--month-year--default--text: #04AE66FF;
$datepicker-datepicker--default--icon: #04AE66FF;
$datepicker-datepicker--bg-outline: #04AE66FF;
$datepicker-datepicker--bg-fill: #04AE66FF;
$datepicker-datepicker--month-year--hover-active--fill: #04AE66FF;

