 /* Variables  */
$icon--hover--fill: #FFFFFFFF;
$icon--active--fill: #FFFFFFFF;
$icon--error--fill: #FFFFFFFF;
$icon--disabled--fill: #FFFFFFFF;
$text--main--default--fill: #FFFFFFFF;
$page-background--shade--fill: #FFFFFFFF;
$text--secondary--default--fill: #FFFFFFFF;

 /* Aliases  */
$page-background: $light-theme-color-black--o;
$icon--default--fill: $light-theme-color-black--o;

