 /* Variables  */
$inputs-input-all--default--outline: #FFFFFFFF;
$inputs-input-all--hover--outline: #FFFFFFFF;
$inputs-input-all--active--outline: #FFFFFFFF;
$inputs-input-all--error--outline: #FFFFFFFF;
$inputs-input-all--disabled--outline: #FFFFFFFF;
$inputs-input-all--default--label-fill: #FFFFFFFF;
$inputs-input-all--default--label-text: #FFFFFFFF;
$inputs-input-all--default--entered-text: #FFFFFFFF;
$inputs-input-all--default--left-icon: #FFFFFFFF;
$inputs-input-all--default--hint-icon: #FFFFFFFF;
$inputs-input-all--default--hint-text: #FFFFFFFF;
$inputs-input-all--default--shield-fill: #FFFFFFFF;
$inputs-input-all--default--shield-left-icon: #FFFFFFFF;
$inputs-input-all--default--shield-text: #FFFFFFFF;
$inputs-input-all--default--shield-right-icon: #FFFFFFFF;
$inputs-input-all--default--label-required: #FFFFFFFF;
$inputs-input-all--hover--left-icon: #FFFFFFFF;
$inputs-input-all--hover--hint-icon: #FFFFFFFF;
$inputs-input-all--hover--hint-text: #FFFFFFFF;
$inputs-input-all--hover--label-fill: #FFFFFFFF;
$inputs-input-all--active--label-fill: #FFFFFFFF;
$inputs-input-all--error--label-fill: #FFFFFFFF;
$inputs-input-all--active--label-text: #FFFFFFFF;
$inputs-input-all--active--label-required: #FFFFFFFF;
$inputs-input-all--error--label-text: #FFFFFFFF;
$inputs-input-all--error--label-required: #FFFFFFFF;
$inputs-input-all--active--hint-icon: #FFFFFFFF;
$inputs-input-all--active--hint-text: #FFFFFFFF;
$inputs-input-all--active--left-icon: #FFFFFFFF;
$inputs-input-all--error--left-icon: #FFFFFFFF;
$inputs-input-all--error--hint-icon: #FFFFFFFF;
$inputs-input-all--error--hint-text: #FFFFFFFF;
$inputs-input-all--disabled--label-fill: #FFFFFFFF;
$inputs-input-all--disabled--label-text: #FFFFFFFF;
$inputs-input-all--disabled--left-icon: #FFFFFFFF;
$inputs-input-all--disabled--entered-text: #FFFFFFFF;

 /* Aliases  */
$inputs-input-all--fill: $light-theme-color-black--o;
$inputs-input-all--focus: $light-theme-color-green016--t;
$inputs-input-all--disabled--fill: $light-theme-color-black--o;
$inputs-input-all--placeholder-text: $light-theme-color-black--o;

