 /* Variables  */
$menu-menu--fill: #FFFFFFFF;
$menu-menu--separator: #FFFFFFFF;
$menu-menu-item--default--icon: #FFFFFFFF;
$menu-menu-item--hover--icon: #FFFFFFFF;
$menu-menu-item--hover-active--fill: #FFFFFFFF;
$menu-menu-item--default--text: #FFFFFFFF;
$menu-menu-collapse--fill: #FFFFFFFF;
$menu-menu-collapse--icon: #FFFFFFFF;
$menu-menu-subitem--default--text: #FFFFFFFF;
$menu-menu-subitem--hover--text: #FFFFFFFF;
$menu-menu-subitem-list--default--fill: #FFFFFFFF;

 /* Aliases  */
$menu-menu-item--default--arrow-icon: $light-theme-color-black--o;

