 /* Variables  */
$modals-modals--light--bg-fill: #FFFFFFFF;
$modals-modals-all--separator: #FFFFFFFF;
$modals-modals-all--text: #FFFFFFFF;
$modals-modals-all--bg-outline: #FFFFFFFF;
$modals-modals-all--description--text: #FFFFFFFF;
$modals-modals--active--item-bg-fill: #FFFFFFFF;
$modals-modals--dark--bg-fill: #FFFFFFFF;
$modals-modals--file-upload--bg-fill: #FFFFFFFF;

