 /* Variables  */
$pagination-pagination--items-per-page--text: #FFFFFFFF;
$pagination-pagination--items-per-page--icon: #FFFFFFFF;
$pagination-pagination--default--text: #FFFFFFFF;
$pagination-pagination--number-of-pages--default--icon: #FFFFFFFF;
$pagination-pagination--current-page--default--icon: #FFFFFFFF;
$pagination-pagination--current-page--text: #FFFFFFFF;

