 /* Variables  */
$select-controls-controls-all--hovered--tint: #FFFFFFFF;
$select-controls-controls-all--focused--shade: #FFFFFFFF;
$select-controls-controls-all--default--fill: #FFFFFFFF;
$select-controls-controls-toggle-circle--fill: #FFFFFFFF;
$select-controls-controls-all--default--outline: #FFFFFFFF;
$select-controls-controls-all--focused--outline-glow: #FFFFFFFF;
$select-controls-controls-all--disabled--fill: #FFFFFFFF;
$select-controls-controls-radiobutton--default--fill: #FFFFFFFF;
$select-controls-controls-all--fill-bg: #FFFFFFFF;
$select-controls-controls-toggle--default--fill: #FFFFFFFF;
$select-controls-controls-toggle--hovered-focused--fill: #FFFFFFFF;

 /* Aliases  */
$select-controls-controls-all--hovered--fill: $light-theme-color-green000--o;
$select-controls-controls-all--hovered--outline: $light-theme-color-green000--o;
$select-controls-controls-all--focused--fill: $light-theme-color-green000--o;
$select-controls-controls-all--focused--outline: $light-theme-color-green000--o;

