 /* Aliases  */
$spacing-spacing-xs: $grid-values-s4;
$spacing-spacing-s: $grid-values-s8;
$spacing-spacing-m: $grid-values-s12;
$spacing-spacing-l: $grid-values-s16;
$spacing-spacing-xl: $grid-values-s20;
$spacing-spacing-xxl: $grid-values-s24;
$spacing-spacing-xxs: $grid-values-s0;
$spacing-spacing-xxxl: $grid-values-s32;

