 /* Variables  */
$table-table-header--regular--fill: #FFFFFFFF;
$table-table-header--regular--text: #FFFFFFFF;
$table-table-row--regular--default--fill: #FFFFFFFF;
$table-table-row--regular--hover--fill: #FFFFFFFF;
$table-table-row--regular--active--fill: #FFFFFFFF;
$table-table-row--shaded--default--fill: #FFFFFFFF;
$table-table-row--regular--default--text: #FFFFFFFF;
$table-table-row--linked--default--text: #FFFFFFFF;
$table-table--all--regular--outline: #FFFFFFFF;
$table-table--all--scroll--fill: #FFFFFFFF;
$table-table-futer--regular--fill: #FFFFFFFF;
$table-table-row--inside--default--fill: #FFFFFFFF;

