 /* Variables  */
$toasts-toasts-info--default--fill: #FFFFFFFF;
$toasts-toasts-info--default--outline: #FFFFFFFF;
$toasts-toasts-info--default--icon: #FFFFFFFF;
$toasts-toasts-error--default--fill: #FFFFFFFF;
$toasts-toasts-error--default--outline: #FFFFFFFF;
$toasts-toasts-error--default--icon: #FFFFFFFF;
$toasts-toasts-success--default--fill: #FFFFFFFF;
$toasts-toasts-success--default--outline: #FFFFFFFF;
$toasts-toasts-success--default--icon: #FFFFFFFF;
$toasts-toasts-all--default--text: #FFFFFFFF;

