 /* Aliases  */
$buttons-button-all--tint: $light-theme-color-white016--t;
$buttons-button-all--shade: $light-theme-color-black016--t;
$buttons-button-all--positive--focus: $light-theme-color-green016--t;
$buttons-button-primary--positive--fill: $light-theme-color-green000--o;
$buttons-button-primary--positive--text: $light-theme-color-white--o;
$buttons-button-primary--positive--icon: $light-theme-color-white--o;
$buttons-button-secondary--positive--default--fill: $light-theme-color-white--o;
$buttons-button-secondary--positive--hover--fill: $light-theme-color-green008--t;
$buttons-button-secondary--positive--active--fill: $light-theme-color-green016--t;
$buttons-button-all--disabled--fill: $light-theme-color-grey800--o;
$buttons-button-all--disabled--text: $light-theme-color-grey000--o;
$buttons-button-all--disabled--icon: $light-theme-color-grey000--o;
$buttons-button-secondary--positive--outline: $light-theme-color-green000--o;
$buttons-button-secondary--positive--text: $light-theme-color-green000--o;
$buttons-button-secondary--positive--icon: $light-theme-color-green000--o;
$buttons-button-tetriary--positive--hover--fill: $light-theme-color-green008--t;
$buttons-button-tetriary--positive--active--fill: $light-theme-color-green016--t;
$buttons-button-tetriary--positive--text: $light-theme-color-green000--o;
$buttons-button-tetriary--positive--icon: $light-theme-color-green000--o;
$buttons-button-all--negative--focus: $light-theme-color-red016--t;
$buttons-button-secondary--negative--default--fill: $light-theme-color-white--o;
$buttons-button-secondary--negative--hover--fill: $light-theme-color-red008--t;
$buttons-button-secondary--negative--active--fill: $light-theme-color-red016--t;
$buttons-button-secondary--negative--outline: $light-theme-color-red000--o;
$buttons-button-secondary--negative--text: $light-theme-color-red000--o;
$buttons-button-secondary--negative--icon: $light-theme-color-red000--o;
$buttons-button-tetriary--negative--hover--fill: $light-theme-color-red008--t;
$buttons-button-tetriary--negative--active--fill: $light-theme-color-red016--t;
$buttons-button-tetriary--negative--text: $light-theme-color-red000--o;
$buttons-button-tetriary--negative--icon: $light-theme-color-red000--o;

