 /* Aliases  */
$datepicker-datepicker--month-year--default--text: $light-theme-color-black--o;
$datepicker-datepicker--default--icon: $light-theme-color-grey000--o;
$datepicker-datepicker--bg-outline: $light-theme-color-grey600--o;
$datepicker-datepicker--bg-fill: $light-theme-color-white--o;
$datepicker-datepicker--month-year--hover-active--fill: $light-theme-color-grey800--o;

