 /* Aliases  */
$header-header--fill: $light-theme-color-grey800--o;
$header-header-calendar--active--icon-bg: $light-theme-color-white--o;
$header-header-calendar--default--icon: $light-theme-color-grey000--o;
$header-header--timezone--text: $light-theme-color-grey000--o;

