 /* Aliases  */
$page-background: $light-theme-color-white--o;
$icon--default--fill: $light-theme-color-grey000--o;
$icon--hover--fill: $light-theme-color-grey300--o;
$icon--active--fill: $light-theme-color-green000--o;
$icon--error--fill: $light-theme-color-red000--o;
$icon--disabled--fill: $light-theme-color-grey700--o;
$text--main--default--fill: $light-theme-color-black--o;
$page-background--shade--fill: $light-theme-color-black016--t;
$text--secondary--default--fill: $light-theme-color-grey000--o;

