 /* Aliases  */
$inputs-input-all--fill: $light-theme-color-white--o;
$inputs-input-all--focus: $light-theme-color-green016--t;
$inputs-input-all--disabled--fill: $light-theme-color-grey800--o;
$inputs-input-all--default--outline: $light-theme-color-grey600--o;
$inputs-input-all--hover--outline: $light-theme-color-green500--o;
$inputs-input-all--active--outline: $light-theme-color-green000--o;
$inputs-input-all--error--outline: $light-theme-color-red000--o;
$inputs-input-all--disabled--outline: $light-theme-color-grey700--o;
$inputs-input-all--default--label-fill: $light-theme-color-grey600--o;
$inputs-input-all--default--label-text: $light-theme-color-black--o;
$inputs-input-all--default--entered-text: $light-theme-color-black--o;
$inputs-input-all--default--left-icon: $light-theme-color-grey600--o;
$inputs-input-all--default--hint-icon: $light-theme-color-grey600--o;
$inputs-input-all--default--hint-text: $light-theme-color-grey600--o;
$inputs-input-all--default--shield-fill: $light-theme-color-grey900--o;
$inputs-input-all--default--shield-left-icon: $light-theme-color-grey200--o;
$inputs-input-all--default--shield-text: $light-theme-color-grey200--o;
$inputs-input-all--default--shield-right-icon: $light-theme-color-grey200--o;
$inputs-input-all--default--label-required: $light-theme-color-red000--o;
$inputs-input-all--hover--left-icon: $light-theme-color-green500--o;
$inputs-input-all--hover--hint-icon: $light-theme-color-grey300--o;
$inputs-input-all--hover--hint-text: $light-theme-color-grey300--o;
$inputs-input-all--hover--label-fill: $light-theme-color-green500--o;
$inputs-input-all--active--label-fill: $light-theme-color-green000--o;
$inputs-input-all--error--label-fill: $light-theme-color-red000--o;
$inputs-input-all--active--label-text: $light-theme-color-white--o;
$inputs-input-all--active--label-required: $light-theme-color-white--o;
$inputs-input-all--error--label-text: $light-theme-color-white--o;
$inputs-input-all--error--label-required: $light-theme-color-white--o;
$inputs-input-all--active--hint-icon: $light-theme-color-grey100--o;
$inputs-input-all--active--hint-text: $light-theme-color-grey100--o;
$inputs-input-all--active--left-icon: $light-theme-color-green000--o;
$inputs-input-all--error--left-icon: $light-theme-color-red000--o;
$inputs-input-all--error--hint-icon: $light-theme-color-red000--o;
$inputs-input-all--error--hint-text: $light-theme-color-red000--o;
$inputs-input-all--disabled--label-fill: $light-theme-color-grey700--o;
$inputs-input-all--disabled--label-text: $light-theme-color-grey200--o;
$inputs-input-all--disabled--left-icon: $light-theme-color-grey600--o;
$inputs-input-all--disabled--entered-text: $light-theme-color-grey000--o;
$inputs-input-all--placeholder-text: $light-theme-color-grey300--o;

