 /* Aliases  */
$menu-menu--fill: $light-theme-color-grey800--o;
$menu-menu--separator: $light-theme-color-grey600--o;
$menu-menu-item--default--icon: $light-theme-color-grey000--o;
$menu-menu-item--hover--icon: $light-theme-color-green000--o;
$menu-menu-item--hover-active--fill: $light-theme-color-white--o;
$menu-menu-item--default--text: $light-theme-color-black--o;
$menu-menu-collapse--fill: $light-theme-color-white--o;
$menu-menu-collapse--icon: $light-theme-color-grey000--o;
$menu-menu-subitem--default--text: $light-theme-color-grey000--o;
$menu-menu-subitem--hover--text: $light-theme-color-green000--o;
$menu-menu-subitem-list--default--fill: $light-theme-color-white024--t;
$menu-menu-item--default--arrow-icon: $light-theme-color-grey000--o;

