 /* Aliases  */
$pagination-pagination--items-per-page--text: $light-theme-color-black--o;
$pagination-pagination--items-per-page--icon: $light-theme-color-grey000--o;
$pagination-pagination--default--text: $light-theme-color-black--o;
$pagination-pagination--number-of-pages--default--icon: $light-theme-color-grey000--o;
$pagination-pagination--current-page--default--icon: $light-theme-color-grey000--o;
$pagination-pagination--current-page--text: $light-theme-color-black--o;

