 /* Aliases  */
$select-controls-controls-all--hovered--fill: $light-theme-color-green000--o;
$select-controls-controls-all--hovered--tint: $light-theme-color-white016--t;
$select-controls-controls-all--focused--shade: $light-theme-color-black016--t;
$select-controls-controls-all--default--fill: $light-theme-color-grey200--o;
$select-controls-controls-toggle-circle--fill: $light-theme-color-white--o;
$select-controls-controls-all--hovered--outline: $light-theme-color-green000--o;
$select-controls-controls-all--default--outline: $light-theme-color-grey100--o;
$select-controls-controls-all--focused--outline-glow: $light-theme-color-green008--t;
$select-controls-controls-all--disabled--fill: $light-theme-color-grey800--o;
$select-controls-controls-all--focused--fill: $light-theme-color-green000--o;
$select-controls-controls-all--focused--outline: $light-theme-color-green000--o;
$select-controls-controls-radiobutton--default--fill: $light-theme-color-green000--o;
$select-controls-controls-all--fill-bg: $light-theme-color-white--o;
$select-controls-controls-toggle--default--fill: $light-theme-color-green000--o;
$select-controls-controls-toggle--hovered-focused--fill: $light-theme-color-grey200--o;

