 /* Aliases  */
$table-table-header--regular--fill: $light-theme-color-grey800--o;
$table-table-header--regular--text: $light-theme-color-black--o;
$table-table-row--regular--default--fill: $light-theme-color-white--o;
$table-table-row--regular--hover--fill: $light-theme-сolor-blue-green900--o;
$table-table-row--regular--active--fill: $light-theme-сolor-blue-green900--o;
$table-table-row--shaded--default--fill: $light-theme-color-grey900--o;
$table-table-row--regular--default--text: $light-theme-color-black--o;
$table-table-row--linked--default--text: $light-theme-color-green000--o;
$table-table--all--regular--outline: $light-theme-color-grey600--o;
$table-table--all--scroll--fill: $light-theme-color-grey500--o;
$table-table-futer--regular--fill: $light-theme-color-grey800--o;
$table-table-row--inside--default--fill: $light-theme-сolor-dark-green900--o;

