 /* Aliases  */
$toasts-toasts-info--default--fill: $light-theme-color-blue800-o;
$toasts-toasts-info--default--outline: $light-theme-color-blue000--o;
$toasts-toasts-info--default--icon: $light-theme-color-blue000--o;
$toasts-toasts-error--default--fill: $light-theme-color-red800--o;
$toasts-toasts-error--default--outline: $light-theme-color-red000--o;
$toasts-toasts-error--default--icon: $light-theme-color-red000--o;
$toasts-toasts-success--default--fill: $light-theme-color-green800--o;
$toasts-toasts-success--default--outline: $light-theme-color-green000--o;
$toasts-toasts-success--default--icon: $light-theme-color-green000--o;
$toasts-toasts-all--default--text: $light-theme-color-black--o;

