 /* Variables  */
$light-theme-color-green000--o: #04AE66FF;
$light-theme-color-grey900--o: #F7F7F7FF;
$light-theme-color-grey100--o: #9A9DA8FF;
$light-theme-color-grey000--o: #888A91FF;
$light-theme-color-grey200--o: #AAACB5FF;
$light-theme-color-grey300--o: #B5B7BFFF;
$light-theme-color-grey400--o: #C1C2C8FF;
$light-theme-color-grey500--o: #CCCDD2FF;
$light-theme-color-grey600--o: #D7D8DCFF;
$light-theme-color-grey700--o: #EAEAEAFF;
$light-theme-color-grey800--o: #F2F2F4FF;
$light-theme-color-black--o: #181C29FF;
$light-theme-color-white--o: #FFFFFFFF;
$light-theme-color-red000--o: #D35D5FFF;
$light-theme-color-red800--o: #FBEFEFFF;
$light-theme-color-blue800-o: #EAF5FFFF;
$light-theme-color-green008--t: #04AE6614;
$light-theme-color-green016--t: #04AE6629;
$light-theme-color-red008--t: #D35D5F14;
$light-theme-color-red016--t: #D35D5F29;
$light-theme-color-blue000--o: #2C99FFFF;
$light-theme-color-black016--t: #181C2929;
$light-theme-color-white016--t: #FFFFFF29;
$light-theme-color-white024--t: #FFFFFF3D;
$light-theme-color-green500--o: #9BDFC2FF;
$light-theme-color-green800--o: #E6F7F0FF;
$light-theme-сolor-sea-green000--o: #38DBC7FF;
$light-theme-сolor-sea-green900--o: #F0FDFBFF;
$light-theme-сolor-blue-green000--o: #47A4E8FF;
$light-theme-сolor-blue-green900--o: #EEF5FCFF;
$light-theme-сolor-purple000--o: #C43DD2FF;
$light-theme-сolor-purple900--o: #FAF4F7FF;
$light-theme-сolor-light-green000--o: #49D557FF;
$light-theme-сolor-light-green900: #F1FBF0FF;
$light-theme-сolor-dark-green000-o: #1AA741FF;
$light-theme-сolor-dark-green900--o: #EEFBF2FF;
$light-theme-сolor-orange000-o: #FF922DFF;
$light-theme-сolor-violet000-o: #6A03C6FF;
$light-theme-сolor-violet900-o: #F4EFFAFF;
$light-theme-сolor-yellow000-o: #FDD816FF;
$light-theme-сolor-light-red000-o: #FF4923FF;
$light-theme-сolor-dark-red000-o: #C61023FF;
$light-theme-сolor-light-violet000-o: #935FFFFF;
$light-theme-сolor-dark-blue000--o: #2E43FAFF;
$light-theme-сolor-light-yellow000-o: #F1F373FF;
$light-theme-сolor-brown000-o: #A74108FF;

