 /* Variables  */
$header-avatar-avatar--text: #FFFFFFFF;
$header-avatar-avatar--icon: #FFFFFFFF;
$header-avatar-avatar-status--online--fill: #FFFFFFFF;
$header-avatar-avatar-status--offline--fill: #FFFFFFFF;
$header-avatar-avatar-bg--fill: #FFFFFFFF;
$header-avatar-avatar-status--outline: #FFFFFFFF;
$header-avatar-avatar--dropdown-item--hover--fill: #FFFFFFFF;
$header-avatar-avatar--hover--outline: #FFFFFFFF;
$header-avatar-avatar--active--outline: #FFFFFFFF;

