 /* Variables  */
$header-breadcrumbs-breadcrumbs--fill: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs--separator: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs--icon: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs-item--hover--fill: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs-item--default--text: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs--disabled--icon: #FFFFFFFF;
$header-breadcrumbs-breadcrumbs--disabled--text: #FFFFFFFF;

