 /* Variables  */
$header-user-profile-user-profile--menu-items--text: #FFFFFFFF;
$header-user-profile-user-profile--default--icon: #FFFFFFFF;
$header-user-profile-user-profile--separator: #FFFFFFFF;
$header-user-profile-user-profile--fill--bg: #FFFFFFFF;
$header-user-profile-user-profile--user-role--text: #FFFFFFFF;
$header-user-profile-user-profile--settings--fill--bg: #FFFFFFFF;
$header-user-profile-user-profile--outline: #FFFFFFFF;
$header-user-profile-user-profile--status--busy--icon: #FFFFFFFF;
$header-user-profile-user-profile--status--online--icon: #FFFFFFFF;
$header-user-profile-user-profile--status--hover--fill: #FFFFFFFF;
$header-user-profile-user-profile--status-dropdown--hover--fill: #FFFFFFFF;

