 /* Aliases  */
$header-avatar-avatar--text: $light-theme-color-white--o;
$header-avatar-avatar--icon: $light-theme-color-white--o;
$header-avatar-avatar-status--online--fill: $light-theme-color-green000--o;
$header-avatar-avatar-status--offline--fill: $light-theme-color-red000--o;
$header-avatar-avatar-bg--fill: $light-theme-color-grey000--o;
$header-avatar-avatar-status--outline: $light-theme-color-white--o;
$header-avatar-avatar--dropdown-item--hover--fill: $light-theme-color-grey800--o;
$header-avatar-avatar--hover--outline: $light-theme-color-green500--o;
$header-avatar-avatar--active--outline: $light-theme-color-green000--o;

