 /* Aliases  */
$header-user-profile-user-profile--menu-items--text: $light-theme-color-black--o;
$header-user-profile-user-profile--default--icon: $light-theme-color-grey000--o;
$header-user-profile-user-profile--separator: $light-theme-color-grey600--o;
$header-user-profile-user-profile--fill--bg: $light-theme-color-white--o;
$header-user-profile-user-profile--user-role--text: $light-theme-color-grey000--o;
$header-user-profile-user-profile--settings--fill--bg: $light-theme-color-grey800--o;
$header-user-profile-user-profile--outline: $light-theme-color-grey600--o;
$header-user-profile-user-profile--status--busy--icon: $light-theme-color-red000--o;
$header-user-profile-user-profile--status--online--icon: $light-theme-color-green000--o;
$header-user-profile-user-profile--status--hover--fill: $light-theme-color-white--o;
$header-user-profile-user-profile--status-dropdown--hover--fill: $light-theme-color-grey800--o;

